<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreams.logistics.mapper.TransportOrderTaskMapper">

    <resultMap id="BaseResultMap" type="com.dreams.logistics.model.entity.TransportOrderTask">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="transportOrderId" column="transport_order_id" jdbcType="VARCHAR"/>
            <result property="transportTaskId" column="transport_task_id" jdbcType="BIGINT"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="updated" column="updated" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,transport_order_id,transport_task_id,
        created,updated
    </sql>
</mapper>
