<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreams.logistics.mapper.OrganizationMapper">

    <resultMap id="BaseResultMap" type="com.dreams.logistics.model.entity.Organization">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="abbreviation" column="abbreviation" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="orgType" column="org_type" jdbcType="TINYINT"/>
            <result property="provinceId" column="province_id" jdbcType="BIGINT"/>
            <result property="cityId" column="city_id" jdbcType="BIGINT"/>
            <result property="countyId" column="county_id" jdbcType="BIGINT"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="contractNumber" column="contract_number" jdbcType="VARCHAR"/>
            <result property="managerId" column="manager_id" jdbcType="BIGINT"/>
            <result property="treePath" column="tree_path" jdbcType="VARCHAR"/>
            <result property="sortValue" column="sort_value" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="BIT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,abbreviation,
        parentId,orgType,provinceId,
        cityId,countyId,address,
        contractNumber,managerId,treePath,
        sortValue,status,description,
        createTime,createUser,updateTime,
        updateUser
    </sql>
</mapper>
